/* Selector {
    Property: value;
} */
* {
    text-align: right;

}

body {
    background-image: url(https://images.unsplash.com/photo-1673357586471-0f766a83007c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxODY2Nzh8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzQzMTY2MDU&ixlib=rb-4.0.3&q=80&w=1080);
    background-size: cover;
}

h2,
p:hover {
    color: white;
    text-align: center;
    border: 5px dashed purple;
    cursor: pointer;
}

p {
    color: rgb(201, 233, 201);
}

li {
    list-style: none;
}

.webtext {
    border: 5px solid yellow;
}

.active {
    color: rgb(245, 198, 198);
}

#div1 {
    background-color: rgba(255, 255, 255, 0.2);
}

#div1 {
    background-color: rgba(255, 05, 0, 0.2);
}